.container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
   
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: white;
}

form {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

label {
    margin-bottom: 8px;
    margin-right: 30px;
    font-weight: bold;
    color: white;
}

input[type="text"] {
    width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
    margin-bottom: 20px;
    
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    color:white;
    justify-content: left;
}

button[type="submit"] {
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #218838;
}

p {
    margin-top: 20px;
    font-size: 16px;
    color: white;
    text-align: center;
}
